.parent{
    position:absolute;
    margin: auto;
   width: 100%;
   margin-top: 200px;
   

   

}



.container{
    display: flex;
    justify-content:center ;
   align-items: center;
    background-color: orange;
    margin-left: 150px;
    width: 50%;
    position: relative;
  
}
